<h1>• immune •</h1>
<div id='bar'>
  <span id='timer'>0</span>
  <span>score: </span>
  <span id='score'>0</span>
  <span>chain: </span>
  <span id='chainBonus'>0</span>
</div>
{{!-- <span id="center"> --}}
  <table id='board'></table>
{{!-- </span> --}}