body {
  font-family: 'Lobster', cursive;
  background-color: #ffe4b5;
}

table {
  margin-right: center;
  margin-left: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2vw;
  margin-top: 0;
  margin-bottom: 0;
}

td {
  width: 1.7vw;
  height: 1.7vw;
  background-color: #cdaf95;
}

#bar {
  margin-bottom: 5px;
  text-align: center;
}

#timer {
  display: none;
  text-align: center;
}

#score {
  text-align: center;
  margin-right: 40px;
}

.player {
  background-color: white;
}

.lazy {
  background-color: #FF6666;
}

.active {
  background-color: black;
}

.cell {
  background-color: #A0A651;
}

.chain {
  background-color: #B7EE37;
}

.enemyChain {
  background-color: gray;
}

